/* MAIN GRID ELEMENTS */
div#grid_root {
	display: grid;
	grid-template-columns: minmax(0, 4fr) minmax(0, 10fr); 
	grid-template-areas: 
		"sb ms"
		".  ms"
		"ft ft";
}

header, footer {
	display: block;
	background-color: var(--bg-msg);
	text-align: center;
}

header {
	background-color: var(--bg);
	font-size: 100%;
	padding: 0.5rem;
	text-align: center;
	margin-bottom: 0.5rem;
}

footer {
    width: 100%;
    grid-area: auto;
    font-size: 75%;
    padding: 1rem;
    margin-top: auto;
    position: fixed;
    top: initial;
    bottom: 0;
}

footer > div#page_links {
	display: block;
	font-size: 150%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 1rem;
	width: 15rem;
}

div#message_container {
	grid-area: ms;
	display: block;
	margin-top: 0;
}

div#sidebar {
	grid-area: sb;
	display: block;
	background-color: var(--bg);
	background-color: rgba(0,0,0,0);
	padding: 0.5rem;
	position: sticky;
	top: 0px;
}

div#sidebar > hr {
	margin-bottom: 1rem;
}

div#website_data_block {
	text-align: center;
	padding: 1rem;
	background-color: var(--bg-msg);
	margin-bottom: 1rem;
	line-height: 1.5;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5rem;
}

/* MESSAGE STRUCTURE */
div.message {
	background-color: var(--bg-msg);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7px;
	max-width: 90%;
	padding: 1rem;
}

div.message > hr {
	width: 30%;
}

div.message:hover {
	outline: 2px solid var(--text-color);
}

p.message_header {
	text-align: center;
	margin-top: 0.5rem;
}

div.message_contents {
	padding: 1rem;
}

div#linkbar {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* MOBILE MODIFICATIONS */
@media only screen and (max-device-width: 761px) {
	div.message {
		max-width: 90%;
	}

	body {
		font-size: 25px;
	}

	div#grid_root {
		display: grid;
		grid-template-columns: minmax(0, 1fr); 
		grid-template-areas:
			"sb"
			"ms"
			"ft";
		gap: 1rem 0.5rem;
		padding: 0.5rem;
	}

	div#sidebar {
		background-color: var(--bg);
	}
}

