div#grid_root {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-areas:
		"form"
		"msg"
		"footer";
}

div#search_form {
	grid-area: form;
	width: 75%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

div#message_container {
	grid-area: msg;
	display: grid;
	grid-gap: 1rem;
	grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
	grid-template-columns: repeat(4, minmax(0, 1fr));
	margin-bottom: 6rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

footer {
	grid-area: auto;
	text-align: center;
	background-color: var(--bg-msg);
    width: 100%;
    font-size: 125%;
	border-top: 2px solid var(--text-color);
    padding: 1rem;
    margin-top: auto;
    position: fixed;
    top: initial;
	height: 4rem;
    bottom: 0;
}

div.message_item {
	display: inline;
	padding: 0.5rem;
	background-color: var(--bg-msg);
}

p.message_header {
	text-align: center;
}

/* SEARCH FORM */
form#catalog_search > input[type="text"] {
	width: 40%;
}

form#catalog_search > input[type="submit"] {
	width: 20%;
}

/* USER IMAGES */
div.userimage_container {
	background-color: var(--userimage-bg);
	max-width: 100%;
}

div.userimage {
	display: inline-block;
}

.userimage > * {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.userimage > img, .userimage > video { 
	max-width: 5rem;
	height: auto;
}

.userimage > a {
	display: none;
}

.message_item > .userimage_container > .userimage > img:active {
	max-width: 90%;
	width: 125%;
}
