body {
	margin-top: 0;
}

header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	margin-bottom: 2rem;
	text-align: center;
	background-color: var(--bg-msg);
	padding: 2rem;
}

#flagged_container > a {
	display: block;
	margin-top: 2px;
	margin-bottom: 2rem;
	background-color: var(--bg-msg);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	text-align: center;
	border-top: 2px solid var(--text);
}

header > a {
	display: inline-block;
	border: 2px solid var(--text);
	border-radius: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

/* Submessage modifications */
div.submessage {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-bottom: 0;
}

div.submessage:hover {
	outline: 2px solid var(--text-color);
}

div.submessage > hr {
	width: 50%;
}

/* Message modifications */
div.message {
	margin-bottom: 0;
}
