* {
	padding: 0;
	margin: 0;
	background-color: var(--bg-msg);
}

div#grid_root {
	display: grid;
	margin-top: 0;
	grid-template-columns: minmax(0, 1fr); 
	grid-template-areas: 
		"name"
		"links";
}

div#name {
	grid-area: name;
	font-size: 350%;
	text-align: center;
	border-bottom: 5px solid var(--text-color);
	padding: 2rem;
}

div#bottom_half {
	background-color: var(--bg);
	height: 100vh;
}

div#links {
	grid-area: links;
	background-color: var(--bg-msg);
	//outline: 2px solid var(--text-color);
	width: 50%;
	padding: 1rem;
	margin: auto;
	margin-top: 5%;
}

div#links > hr:last-of-type {
	display: none;
}

a:hover {
	color: var(--text-color);
}

div.main_page_link {
	font-size: 175%;
	padding: 1rem;
}
