body {
	background-color: var(--bg);
	padding: 0;
	margin: 0;
}

div#grid_root {
	display: grid;
	grid-template-columns: minmax(0, 1fr); 
	grid-template-areas: 
		"name"
		"links";
}

div#name {
	grid-area: name;
	font-size: 300%;
	text-align: center;
	border-bottom: 5px solid var(--text-color);
	background-color: var(--bg-msg);
	padding: 2rem;
}

div#links {
	grid-area: links;
	background-color: var(--bg-msg);
	width: 40%;
	padding: 1rem;
	margin: auto;
	margin-top: 5%;
}

div#links > hr:last-of-type {
	display: none;
}

div.main_page_link {
	font-size: 150%;
	padding: 0.5rem;
}

a:hover {
	color: var(--text-color);
}
