body {
	background: linear-gradient(to bottom, var(--bg), black);
	background-attachment: fixed;
	height: 100%;
}

div#name {
	font-size: 350%;
	text-align: center;
	margin-bottom: 2rem;
}

div#links {
	background-color: var(--bg-msg);
	outline: 2px solid var(--text-color);
	width: 50%;
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
}

a:hover {
	color: var(--text-color);
}

div.main_page_link {
	font-size: 175%;
	padding: 1rem;
}
