:root {
	--bg: rgb(23,82,87);
	--bg-msg: rgb(216,215,224);
	--text: rgb(5,17,18);
}

/* MAIN GRID ELEMENTS */
body {
	line-height: 1.3;
	font-size: 19px;
	background-color: var(--bg);
	background-image: url("acsim.png");
	background-size: 80px;
	background-repeat: repeat;
	color: var(--text);
	overflow: scroll;
	overflow-wrap: break-word;
}

div#grid_root {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 3fr); 
	grid-template-areas: 
		"hd hd"
		"sb ms"
		".  ms";
	gap: 2rem 1rem;
	padding: 2rem;
}

header {
	grid-area: hd;
	display: block;
	background-color: var(--bg-msg);
	box-shadow: 0.2rem 0.2rem 0.4rem black;
	font-size: 125%;
	text-align: center;
	border-radius: 0.25rem;
}

div#message_container {
	grid-area: ms;
	display: block;
	margin-top: 0;
}

div#sidebar {
	grid-area: sb;
	display: block;
	background-color: var(--bg-msg);
	box-shadow: 0.2rem 0.2rem 0.4rem black;
	border-radius: 0.25rem;
	padding: 0.5rem;
	position: sticky;
	top: 1rem;
}

/* SUBMIT FORM */
form#message_form {
	display: grid;
	grid-template-areas:
		"fa"
		"fm"
		"im"
		"sb";
	padding: 1rem;
	gap: 0.5rem;
}

textarea {
	resize: none;
}

textarea[name="author"] {
	grid-area: fa;
	height: 1rem;
	margin-bottom: 1rem;
}

textarea[name="message"] {
	grid-area: fm;
	height: 10rem;
	margin-bottom: 1rem;
}

input[type="submit"] {
	grid-area: sb;
}

input[type="file"] {
	grid-area: im;
}

/* MESSAGE STRUCTURE */
div.message {
	background-color: var(--bg-msg);
	box-shadow: 0.2rem 0.2rem 0.4rem black;
	border-radius: 0.25rem;
	padding: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	max-width: 75%;
}

p.message_header {
	text-align: center;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

div.userimage {
	padding: 1rem;
	margin-bottom: 0;
	margin-top: 0;
}

.userimage > a > img {
	max-width: 10rem;
	height: auto;
}

div.message_contents {
	padding: 1rem;
	margin-bottom: 0;
	margin-top: 0;
}

div#linkbar {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
