:root {
	--bg: rgb(23,82,87);
	--bg-msg: rgb(216,215,224);
	--text: rgb(5,17,18);
}

/* MAIN GRID ELEMENTS */
body {
	line-height: 1.4;
	font-size: 20px;
	background-color: var(--bg);
	color: var(--text); 
	background-image: url("acsim.png");
	background-size: 80px;
	background-repeat: repeat;
	overflow: scroll;
	overflow-wrap: break-word;
}

div#grid_root {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-areas: 
		"hd"
		"ms"
		"sb";
	gap: 2rem 1rem;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	max-width: 60%;
}

div#submessage_container {
	grid-area: ms;
	display: block;
	margin-top: 0;
}

div#sidebar {
	grid-area: sb;
	display: block;
	background-color: var(--bg-msg);
	box-shadow: 0.2rem 0.2rem 0.4rem black;
	border-radius: 0.25rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

div#head_message {
	grid-area: hd;
	background-color: var(--bg-msg);
	box-shadow: 0.2rem 0.2rem 0.4rem black;
	width: 100%;
	border-radius: 0.25rem;
	margin-right: auto;
	padding: 1rem;
}

/* SUBMIT FORM */
table#message_form {
	display: inline-grid;
	grid-template-areas:
		"fa im"
		"fm sb";
	padding: 1rem;
	gap: 0.5rem;
}

textarea {
	resize: none;
}

textarea[name="author"] {
	grid-area: fa;
	height: 1rem;
	width: 20%;
	margin-bottom: 1rem;
}

textarea[name="message"] {
	grid-area: fm;
	height: 10rem;
	width: 90%;
}

input[type="submit"] {
	grid-area: sb;
	margin-left: auto;
	width: 50%;
}

input[type="file"] {
	grid-area: im;
}

/* GENERICS FOR MESSAGES */
div.userimage {
	padding: 1rem;
	float: left;
	margin-bottom: 0;
}

.userimage > a > img {
	max-width: 20rem;
	height: auto;
}

p.head_message_contents, p.submessage_contents {
	margin-bottom: 0;
	margin-top: 0;
}

/* HEAD MESSAGE STRUCTURE */
p.head_message_header {
	text-align: center;
	margin-top: 0;
	padding: 0;
}

/* SUBMESSAGE STRUCTURE */
div.submessage {
	background-color: var(--bg-msg);
	box-shadow: 0.2rem 0.2rem 0.4rem black;
	border-radius: 0.25rem;
	margin-right: auto;
	margin-bottom: 1rem;
	width: 75%;
	padding: 1rem;
}

p.submessage_header {
	text-align: center;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
